.s-form-container {
  // overwrite
  .ant-select,
  .ant-tree-select {
    &.ant-select-disabled .ant-select-selection-overflow-item-suffix,
    &.ant-select-multiple.ant-select-disabled .ant-select-selection-overflow-item-suffix {
      display: none;
    }
  }

  .ant-input,
  .ant-select,
  .ant-picker,
  .ant-input-number,
  .ant-input-number-affix-wrapper {
    width: 100%;
  }

  // off-disabled
  [off-disabled],
  [off-disabled] * {
    cursor: default !important;
    pointer-events: none;
  }
}
